@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#Body,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #F0F0F0;
  font-size: 16px;
}

#Form {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#Form .siteWrapper {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

/* Basic Styles */
table, th, td, div, p, li, blockquote, h1, h2, h3, h4, h5, h6, .Normal {
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #303030;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.5em;
}

p {
  margin: 0 0 1em;
}

ul, ol {
  margin-bottom: 2em;
}
ul:last-child, ol:last-child {
  margin-bottom: 0;
}
ul li, ol li {
  margin-bottom: 0.5em;
}
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6 {
  margin-top: 1em;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}

br {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #303030 !important;
  opacity: 0.15;
  padding: 0;
  margin: 1.5em 0;
}

sub, sup {
  text-transform: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  color: #337AB7;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.25em;
  margin: 0 0 0.5em;
}

h1, .h1 {
  font-size: 2.1em;
}

h2, .h2 {
  font-size: 1.85em;
}

h3, .h3 {
  font-size: 1.65em;
}

h4, .h4 {
  font-size: 1.45em;
}

h5, .h5 {
  font-size: 1.35em;
}

small {
  font-size: 0.7em;
  font-weight: inherit !important;
  color: inherit !important;
  opacity: 0.65;
}

.lead {
  font-size: 1.25em;
  font-weight: normal;
}

a, a:link, a:visited, a:active {
  color: #337AB7;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #2a6597;
  text-decoration: none;
}

.NormalTextBox,
textarea,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
select {
  text-shadow: none !important;
  text-decoration: none !important;
  font-size: 16px !important;
  line-height: 1.25em !important;
  font-weight: normal !important;
  opacity: 1 !important;
  max-width: 100%;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 5px;
}

select option {
  text-indent: 7px;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  text-shadow: none !important;
  text-decoration: none !important;
  font-size: 16px !important;
  line-height: 1.25em !important;
  font-weight: normal !important;
  opacity: 1 !important;
  max-width: 100%;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  background: #606060 !important;
  color: #FFF !important;
  border: 0 !important;
  margin: 2px 0;
  padding: 10px 15px !important;
}
input[type="button"].btn-sm,
input[type="reset"].btn-sm,
input[type="submit"].btn-sm {
  font-size: 0.85em !important;
  padding: 7px 10px !important;
}
input[type="button"].btn-lg,
input[type="reset"].btn-lg,
input[type="submit"].btn-lg {
  font-size: 1.25em !important;
  padding: 11px 19px !important;
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #4c4c4c !important;
}

.dnnFormItem input[type="text"],
.dnnFormItem select,
.dnnFormItem textarea,
.dnnFormItem input[type="email"],
.dnnFormItem input[type="search"],
.dnnFormItem input[type="password"] {
  color: #303030;
  background: #FFF;
  opacity: 1;
}
.dnnFormItem select::-ms-expand {
  display: none;
}
.dnnFormItem select option {
  text-indent: 7px;
}

.invert,
.invert h1, .invert h2, .invert h3, .invert h4, .invert h5, .invert h6 {
  color: #FFF;
}
.invert table, .invert th, .invert td, .invert div, .invert p, .invert li, .invert blockquote, .invert .Normal {
  color: #FFF;
}
.invert a,
.invert a span {
  color: #FFF;
}
.invert a:hover,
.invert a:hover > * {
  color: rgba(255, 255, 255, 0.75);
}
.invert hr {
  border-bottom-color: #FFF !important;
}

/* Skin Styles */
/* Global Page Styles */
.dnnEditState .siteWrapper {
  margin-bottom: 0;
}
.dnnEditState .siteWrapper:after {
  height: auto !important;
}

.siteWidth {
  margin: 0 auto;
  padding: 0 5px;
  width: 1400px;
  max-width: 100%;
}
.siteWidth .siteWidth {
  padding: 0;
}
.headerMain > .siteWidth, .breadcrumbMain > .siteWidth {
  padding: 0 20px;
}
footer > .siteWidth {
  padding: 0 20px 0 0;
}
@media (max-width: 991px) {
  footer > .siteWidth {
    padding: 0 20px;
  }
}

/* Header */
header.headerMain {
  background: #337AB7;
  border: 0;
  margin-bottom: 0 !important;
  padding: 0;
  padding-top: 2.8em;
  position: relative;
}
header.headerMain:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.8em;
  background: #2a6597;
}
header.headerMain .pageTitle {
  display: block;
  position: absolute;
  top: -2.6em;
  left: 0;
  margin: 0;
  padding: 0.8em 0.8em;
  background: #337AB7;
  color: #FFFFFF;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
}
@media (max-width: 767px) {
  header.headerMain .pageTitle {
    display: none;
  }
}
@media (max-width: 991px) {
  header.headerMain .menuMain {
    margin: 0 -7.5px 0 0;
  }
}
header.headerMain .header-wrap {
  position: relative;
  display: table;
  width: 100%;
}
header.headerMain .header-inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
header.headerMain .header-inner + .header-inner {
  text-align: right;
}
@media (min-width: 768px) and (max-width: 991px) {
  header.headerMain .header-inner {
    text-align: center !important;
  }
}

.logoMain {
  margin: 0;
  padding: 0;
  float: left;
}
.logoMain img {
  margin: 0;
  padding: 10px;
  max-width: 100%;
}

.mobileMenuMain {
  float: right;
}
.mobileMenuMain a.menuButton {
  font-size: 30px;
  line-height: 59px;
  height: 60px;
  width: 60px;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  display: block;
}

#mobileMenu {
  background: #F0F0F0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
}
#mobileMenu.collapse.in + .siteWrapper {
  height: 100%;
  overflow: hidden;
  display: none;
}
.personalBarContainer ~ #mobileMenu {
  margin-left: 80px;
  width: calc(100% - 80px);
}

a.menuClose {
  color: #FFFFFF;
  background: #2a6597;
  display: block;
  font-size: 32px;
  height: 1.4em;
  line-height: 1.4em;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none !important;
  position: absolute;
  top: 0;
  right: 0;
}
a.menuClose:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Main Content */
.heroMain {
  position: relative;
  z-index: 0;
}

.contentMain {
  padding: 0;
  margin: 30px 0 0;
}

.sideMenuMain {
  padding: 0 15px 30px;
}
@media (max-width: 991px) {
  .sideMenuMain {
    display: none;
  }
}

.myPane {
  padding: 0;
}

.ContentPane {
  width: auto;
}

#dnn_FooterSocialPane {
  text-align: right;
}
@media (max-width: 991px) {
  #dnn_FooterSocialPane {
    text-align: center;
    margin-top: 10px;
  }
}

.NoPad, .noPad, .nopad {
  padding: 0 !important;
}

/* Tokens */
.searchMain {
  display: block;
  vertical-align: middle;
  position: absolute;
  top: -2.6em;
  right: 0;
  height: 2.6em;
  white-space: nowrap;
  background: #337AB7;
  z-index: 999;
}
.searchMain ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFFFFF;
  opacity: 1;
}
.searchMain ::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF;
  opacity: 1;
}
.searchMain :-ms-input-placeholder {
  /* IE 10+ */
  color: #FFFFFF;
  opacity: 1;
}
.searchMain :-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF;
  opacity: 1;
}
@media (max-width: 991px) {
  .searchMain {
    background: none;
  }
}
@media (max-width: 640px) {
  .searchMain {
    width: 100%;
  }
}
.searchMain input[type="text"].NormalTextBox {
  color: #FFFFFF !important;
  height: 2.6em;
  line-height: 2.6em !important;
  width: 100%;
  margin: 0;
  padding: 0 84px 0 10px;
  border: 0;
  vertical-align: middle;
  background: none;
  font-size: 16px;
  opacity: 0.5;
}
.searchMain input[type="text"].NormalTextBox:hover, .searchMain input[type="text"].NormalTextBox:focus {
  opacity: 1;
}
.searchMain .searchInputContainer {
  margin: 0 !important;
  width: 100%;
}
.searchMain .searchInputContainer a.dnnSearchBoxClearText.dnnShow {
  background: none;
  position: absolute;
  top: 0;
  right: 42px !important;
  opacity: 0.75;
  width: 42px;
  height: 2.6em;
  line-height: 2.6em;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}
.searchMain .searchInputContainer a.dnnSearchBoxClearText.dnnShow:after {
  content: "ï—";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  opacity: 0.5;
}
.searchMain .SearchInput {
  display: inline-block;
  vertical-align: top;
  line-height: 2.6em !important;
  width: 42px;
  height: 2.6em;
  margin: 0 0 0 -42px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  opacity: 1;
}
.searchMain .SearchInput:hover {
  opacity: 0.5;
}
.searchMain ul.searchSkinObjectPreview {
  border: 0 !important;
  right: auto !important;
  top: 45px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) !important;
}
@media (max-width: 640px) {
  .searchMain ul.searchSkinObjectPreview {
    width: 100%;
  }
}
.searchMain ul.searchSkinObjectPreview > li {
  border: 0 !important;
  padding: 7px 6px 6px !important;
  background-color: #FFF !important;
  border-bottom: 1px solid #909090 !important;
}
.searchMain ul.searchSkinObjectPreview > li:hover {
  background-color: #E0E0E0 !important;
}
.searchMain ul.searchSkinObjectPreview > li.searchSkinObjectPreview_group {
  border-bottom: 1px solid #909090 !important;
}
.searchMain ul.searchSkinObjectPreview > li > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* Footer */
footer .breadcrumbMain {
  display: block;
  font-size: 0.9em;
  padding: 17px 0;
  background: #4a4a4a;
}
footer .breadcrumbMain span[itemscope] {
  color: rgba(255, 255, 255, 0.5);
}
footer .breadcrumbMain a {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 3px;
  text-decoration: none;
}
footer .breadcrumbMain a:hover {
  color: #FFFFFF;
}
footer .footerMain {
  background: #3d3d3d;
  padding: 30px 0 0;
  display: block;
  position: relative;
}
footer .footerBottom {
  background: #303030;
  padding: 10px 0;
}
@media (max-width: 991px) {
  footer .footerBottom {
    text-align: center;
  }
}
.dnnEditState footer .footerBottom {
  margin-bottom: 90px;
}
footer .footerBottom > .siteWidth {
  padding: 0 5px 0 20px;
}
footer .footerBottom .footerTXT {
  color: #FFFFFF;
  font-size: 0.85em;
  margin: 0 10px;
  line-height: 1em;
  padding: 10px 0;
  display: inline-block;
  opacity: 1;
}
footer .footerBottom span.footerTXT {
  margin: 0 10px 0 0;
}
@media (max-width: 991px) {
  footer .footerBottom span.footerTXT {
    display: block;
    margin: 0 10px;
  }
}
footer .footerBottom a.footerTXT:hover {
  color: #FFFFFF;
  opacity: 0.5;
}

/* Core Buttons */
.dnnFormItem input[type="submit"], .dnnFormItem input[type="submit"]:hover, .dnnFormItem input[type="submit"]:active, .dnnFormItem input[type="submit"]:focus,
a.dnnPrimaryAction,
a.dnnPrimaryAction:hover,
a.dnnPrimaryAction:active,
a.dnnPrimaryAction:focus, .dnnPrimaryAction, .dnnPrimaryAction:hover, .dnnPrimaryAction:active, .dnnPrimaryAction:focus,
a.dnnSecondaryAction,
a.dnnSecondaryAction:hover,
a.dnnSecondaryAction:active,
a.dnnSecondaryAction:focus, .dnnSecondaryAction, .dnnSecondaryAction:hover, .dnnSecondaryAction:active, .dnnSecondaryAction:focus,
a.dnnTertiaryAction,
a.dnnTertiaryAction:hover,
a.dnnTertiaryAction:active,
a.dnnTertiaryAction:focus, .dnnTertiaryAction, .dnnTertiaryAction:hover, .dnnTertiaryAction:active, .dnnTertiaryAction:focus,
a.dnnDisabledAction,
a.dnnDisabledAction:hover,
a.dnnDisabledAction:active,
a.dnnDisabledAction:focus, .dnnDisabledAction, .dnnDisabledAction:hover, .dnnDisabledAction:active, .dnnDisabledAction:focus {
  text-shadow: none !important;
  text-decoration: none !important;
  font-size: 16px !important;
  line-height: 1.25em !important;
  font-weight: normal !important;
  opacity: 1 !important;
  max-width: 100%;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  background: #606060 !important;
  color: #FFF !important;
  border: 0 !important;
  margin: 2px 0;
  padding: 10px 15px !important;
}
.dnnFormItem input[type="submit"].btn-sm, .dnnFormItem input[type="submit"]:hover.btn-sm, .dnnFormItem input[type="submit"]:active.btn-sm, .dnnFormItem input[type="submit"]:focus.btn-sm,
a.dnnPrimaryAction.btn-sm,
a.dnnPrimaryAction:hover.btn-sm,
a.dnnPrimaryAction:active.btn-sm,
a.dnnPrimaryAction:focus.btn-sm, .dnnPrimaryAction.btn-sm, .dnnPrimaryAction:hover.btn-sm, .dnnPrimaryAction:active.btn-sm, .dnnPrimaryAction:focus.btn-sm,
a.dnnSecondaryAction.btn-sm,
a.dnnSecondaryAction:hover.btn-sm,
a.dnnSecondaryAction:active.btn-sm,
a.dnnSecondaryAction:focus.btn-sm, .dnnSecondaryAction.btn-sm, .dnnSecondaryAction:hover.btn-sm, .dnnSecondaryAction:active.btn-sm, .dnnSecondaryAction:focus.btn-sm,
a.dnnTertiaryAction.btn-sm,
a.dnnTertiaryAction:hover.btn-sm,
a.dnnTertiaryAction:active.btn-sm,
a.dnnTertiaryAction:focus.btn-sm, .dnnTertiaryAction.btn-sm, .dnnTertiaryAction:hover.btn-sm, .dnnTertiaryAction:active.btn-sm, .dnnTertiaryAction:focus.btn-sm,
a.dnnDisabledAction.btn-sm,
a.dnnDisabledAction:hover.btn-sm,
a.dnnDisabledAction:active.btn-sm,
a.dnnDisabledAction:focus.btn-sm, .dnnDisabledAction.btn-sm, .dnnDisabledAction:hover.btn-sm, .dnnDisabledAction:active.btn-sm, .dnnDisabledAction:focus.btn-sm {
  font-size: 0.85em !important;
  padding: 7px 10px !important;
}
.dnnFormItem input[type="submit"].btn-lg, .dnnFormItem input[type="submit"]:hover.btn-lg, .dnnFormItem input[type="submit"]:active.btn-lg, .dnnFormItem input[type="submit"]:focus.btn-lg,
a.dnnPrimaryAction.btn-lg,
a.dnnPrimaryAction:hover.btn-lg,
a.dnnPrimaryAction:active.btn-lg,
a.dnnPrimaryAction:focus.btn-lg, .dnnPrimaryAction.btn-lg, .dnnPrimaryAction:hover.btn-lg, .dnnPrimaryAction:active.btn-lg, .dnnPrimaryAction:focus.btn-lg,
a.dnnSecondaryAction.btn-lg,
a.dnnSecondaryAction:hover.btn-lg,
a.dnnSecondaryAction:active.btn-lg,
a.dnnSecondaryAction:focus.btn-lg, .dnnSecondaryAction.btn-lg, .dnnSecondaryAction:hover.btn-lg, .dnnSecondaryAction:active.btn-lg, .dnnSecondaryAction:focus.btn-lg,
a.dnnTertiaryAction.btn-lg,
a.dnnTertiaryAction:hover.btn-lg,
a.dnnTertiaryAction:active.btn-lg,
a.dnnTertiaryAction:focus.btn-lg, .dnnTertiaryAction.btn-lg, .dnnTertiaryAction:hover.btn-lg, .dnnTertiaryAction:active.btn-lg, .dnnTertiaryAction:focus.btn-lg,
a.dnnDisabledAction.btn-lg,
a.dnnDisabledAction:hover.btn-lg,
a.dnnDisabledAction:active.btn-lg,
a.dnnDisabledAction:focus.btn-lg, .dnnDisabledAction.btn-lg, .dnnDisabledAction:hover.btn-lg, .dnnDisabledAction:active.btn-lg, .dnnDisabledAction:focus.btn-lg {
  font-size: 1.25em !important;
  padding: 11px 19px !important;
}

.dnnFormItem input[type="submit"],
a.dnnPrimaryAction, .dnnPrimaryAction {
  background: #337AB7 !important;
}
.dnnFormItem input[type="submit"]:hover, .dnnFormItem input[type="submit"]:focus, .dnnFormItem input[type="submit"]:active,
a.dnnPrimaryAction:hover,
a.dnnPrimaryAction:focus,
a.dnnPrimaryAction:active, .dnnPrimaryAction:hover, .dnnPrimaryAction:focus, .dnnPrimaryAction:active {
  background: #2a6597 !important;
}

a.dnnSecondaryAction, .dnnSecondaryAction {
  color: #337AB7 !important;
  background: #F0F0F0 !important;
}
a.dnnSecondaryAction:hover, a.dnnSecondaryAction:focus, a.dnnSecondaryAction:active, .dnnSecondaryAction:hover, .dnnSecondaryAction:focus, .dnnSecondaryAction:active {
  color: #337AB7 !important;
  background: gainsboro !important;
}

a.dnnTertiaryAction, .dnnTertiaryAction {
  background: #606060 !important;
}
a.dnnTertiaryAction:hover, a.dnnTertiaryAction:focus, a.dnnTertiaryAction:active, .dnnTertiaryAction:hover, .dnnTertiaryAction:focus, .dnnTertiaryAction:active {
  background: #4c4c4c !important;
}

a.dnnDisabledAction, a.dnnDisabledAction:link, a.dnnDisabledAction:visited, a.dnnDisabledAction:active, a.dnnDisabledAction:hover, .dnnDisabledAction, .dnnDisabledAction:link, .dnnDisabledAction:visited, .dnnDisabledAction:active, .dnnDisabledAction:hover {
  color: #909090 !important;
  background: #E0E0E0 !important;
  cursor: not-allowed;
}

.editOnly {
  display: none;
}

.dnnEditState .editOnly {
  display: block;
  margin-bottom: 20px;
}

/* Chrome Bug Last Word Wrapping */
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
  content: '&zwnj;';
  /* Zero Width Non-Joiner Invisible Character */
  font-family: Arial, Helvetica, sans-serif;
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right;
}
