// Variables
$siteWidth: 1400px;

//colors

$white: #FFF;
$dark-grey:#303030;
$mid-grey:#606060;
$grey:#909090;
$light-grey:#E0E0E0;
$lighter-grey:#F0F0F0;
$black: #000;

$main-color-1: #337AB7;
$main-color-2: darken($main-color-1,8%);

$body-color: $dark-grey;
$body-background: $lighter-grey;

$footer-background: $dark-grey;

$btn-primary: $main-color-1;
$btn-default: $lighter-grey;
$btn-danger: #D9534F;
$btn-info: #5BC0DE;
$btn-success: #5CB85C;
$btn-warning: #EFAD4D;

//fonts
$font-body:'Lato', Helvetica, Arial, sans-serif;
$font-heading:'Oswald', Helvetica, Arial, sans-serif;	
$font-awesome:'FontAwesome';

$size-body:		16px;

$size-h1:		2.1em;
$size-h2:		1.85em;
$size-h3:		1.65em;
$size-h4:		1.45em;
$size-h5:		1.35em;
$size-lead:		1.25em;
$size-small:	0.85em;
$size-x-small:	0.7em;

// Pads
$v-pad:30px;
$h-pad:15px;

// Border Radius
$radius:0;

// Box Shadow
$base-box-shadow: 0 6px 8px 0 rgba($black,0.2);

// Other
$sidemenu-indent:14px;